*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

.cajaCalculadora{
	width: 25%;
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border:1px solid black;
	border-radius: 30px;
	margin-top: 40px;
	background: #ededed;
	
}

.cajaCalculadora .cajaResultado{
	height: 80px;
	width: calc(60px*4 + 35px);
	border: 1px solid rgba(0,0,0,0.3);
	position: relative;
	border-radius: 5px;
	margin-bottom: 30px;
}

.cajaCalculadora .cajaResultado .resultado{
	font-size: 25px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 5px;
}

.cajaCalculadora .cajaResultado .retencion{
	font-size: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px;
}
.cajaCalculadora .cajaBotones{
	display: flex;}

.cajaCalculadora .cajaBotones .cajaNumeros .fila button{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 5px;
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	border:1px solid rgba(0,0,0,0.3) ;
	font-size: 20px;
}

.cajaCalculadora .cajaBotones .cajaNumeros .fila{
	display: flex;
}


.cajaCalculadora .cajaBotones .cajaOperaciones{
	display: flex;
	flex-direction: column;
}

.cajaCalculadora .cajaBotones .cajaOperaciones button{
	width: 60px;
	height: 60px;
	margin: 5px;
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	border:1px solid rgba(0,0,0,0.3) ;
	font-size: 20px;
}

.cajaCalculadora  .cajaIgualdad .igual{
	width: calc(60px*4 + 35px);
	height: 60px;
	border-radius: 20px;
	background: black;
	color:white;
	border:1px solid black;
	font-size: 30px;
	margin-top: 30px;
}





